*{
    padding:0;
    margin:0;
}

@font-face {
    font-family: 'journalregular';
    src: url('../../fonts/journal-webfont.woff2') format('woff2'),
    url('../../fonts/journal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

body{
    position:relative;
    z-index: -4;
}

form{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:18%;
    border-radius: 25px;
    padding:30px;
    
    visibility: hidden;
    transition:.3s ease-in-out;
    scale: 0;
    width:500px;
    background-color: white;
    
}




input::placeholder{
    color:rgba(128, 128, 128, 0.466);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size:1rem;
}

form svg{
    position: absolute;
    right:15px;
    top:10px;
    color:brown;
}

form h1{
    font-family: 'Roboto', sans-serif;  
}

form button{
    width:100px;
    height:35px;
    background-color: #42a735;;
    border:none;
    border-radius: 25px;;
    transition: 0.3s ease-in-out;
    color:white;
}

form button:hover{
    background-color: #42a73549;
    color:black
}
form p{
    display:flex;
    gap:15px;
    justify-content: flex-start;
    align-items: center;
    width:375px;

}

.questionbox input{
    width:190px;
    height:15px;
    display:flex;
    border-radius: 25px;
    border:1px solid black;
    position:absolute;
    right:70px  ;
    padding:5px;
}

.check {
    display:flex;
    justify-content: center;
}

.exit{
    transition:0.3s ease-in-out;
}

.exit:hover{
    color:black;
}

label{
    border-radius: 50%;
}

.container{
    height:100vh;

    display:grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr;
    position:relative;
    z-index: -3;
}

.header{
    grid-row: 1/1;

    grid-column: 1/1;
    background-color: #262626;

    
    display:flex;
    color:white;
    justify-content: center;
    gap:15px;
    align-items: center;

}

@keyframes colorchange {
    50% {background-color:black;}
    
}

.header button{
    width:50px;
    height:50px;
    outline:none;
    animation-name: 'colorchange';
    animation-duration: 8s;
    animation-iteration-count: infinite;
    border: none;
    border-radius: 25px;
    margin-top:30px;
    color:rgb(41, 35, 35);
    transition:0.4s ease-in-out;
    
}

.header button:hover{

    color: #42a735;

}

.header h1{
    font-family: 'journalregular', Arial, Helvetica, sans-serif;
    font-size:5rem;

}

.body{
    border:10px solid white;
    position:relative;
    z-index: -2;
    padding:20px;
    padding-left:30px;
    background-color: #C2CAD0;
    grid-row: 2/2;

    display:grid;   
    gap:60px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.1fr)) ;

    grid-auto-flow: row;
    grid-auto-rows: 300px;
}




.book{
    background-color: brown;
    transition:0.3s ease-in-out;
    position: relative;

}



.book::after{
    height:100%;
    width:4%;
    right:-12px;
    transition:0.3s ease-in-out;
    z-index: -1;
    content: '';
    background-color: white;
    box-shadow:10px 5px 20px rgba(0, 0, 0, 0.514);
    transform: rotateY(40deg); 
    border-right:1px solid rgba(0, 0, 0, 0.171);
    position: absolute;

}


.book::before{
    content: "";
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    position: absolute;
    background-color: rgb(53, 15, 15);
    width:7.5%;
    height:100%;
    left:-20px;
    transition:0.3s ease-in-out;
    transform: rotateY(30deg); 
}

.bookinner{
    position:absolute;
    text-overflow: clip;
    font-size:1.5rem;

    width:100%;
    height:100%;
    transition:0.3s ease-in-out;
    word-wrap: break-word;

}

.textwrap{
    padding:5px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap:wrap;
    width:100%;
    transition:0.3s ease-in-out;
    height:100%;
}


.bookinner h3{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-weight:800;
    
    
}

.bookinner h4{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:1rem;
    color:white;
    
}

.bookinner h5{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:1rem;
    color:rgba(255, 255, 255, 0.534);
    margin-top:auto;
    margin-bottom:10px;
} 

/* .book:hover, .book:hover:after, .book:hover:before, .bookinner:hover{
    opacity:0.8;

} */





.noread{
    bottom:12px;
    right:18px;
    width:24px;
    height:24px;
    cursor: pointer;
    color:red;
    position: absolute;
    transition: 0.4s ease-in-out;
}

.read{
    bottom:12px;
    right:18px;
    width:24px;
    height:24px;
    cursor: pointer;
    color:green;
    position: absolute;
    transition: 0.4s ease-in-out;
}

.read:hover, .noread:hover {
    opacity:0.7
}

.hovered{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size:2rem;
    color:white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width:100%;
    height:100%;
    background-color: #262626;
    transition: 1s ease-in-out;
    position: absolute;
    gap:10px;
}

.inside{

    display:flex;
    flex-direction:row;

    gap:30px;
}

.yes, .no{
    border-radius: 25px;
    padding:10px;
    width:50px;
    user-select: none;
    cursor: pointer;
    transition:0.3s ease;
}

.yes:hover, .no:hover {
    opacity:0.6;
    
}

.yes{
    background-color:#42a735;
}

.no{
    background-color: brown;
}

.removed{
    position: absolute;
    bottom:10px;
    right:50px;
    width:24px;
    height:24px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.removed:hover{
    color:red;
}
